<html>
	<head>
		<title>SPEED O APP</title>
		<link rel=stylesheet href=/styles?fn=style>
	</head>
	<body>
		<main>
			<header>
				<div>
					SPEED O APP
				</div>
			</header>
			<content>
				<div class=section>
					<div id=meters style=font-size:32px;>
						0 m
					</div>
					<div id=timer style=font-size:24px;>
						0 s
					</div>
					<div class=button id=startbutton>
						Start
					</div>
				</div>
			</content>
			<footer></footer>
		</main>
	<script src=/scripts?fn=infinity></script>
	<script src=/scripts?fn=Mechanism></script>
	<script src=/scripts?fn=app></script>
	</body>
</html>